*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #272727;
  background-color: #ecf0f1;
  min-height: 100vh;
  background-image: linear-gradient(to right bottom, #396afc, #2948ff);
  background-size: cover;
  background-position: center;
}
